# Go build artifacts
bin/*

# OS files  
.DS_Store

archive/*.json
archive/*.png

# Local Files used in processing
previousSchedule.json
bin/*

# Test output files
test-output/
**/test-output/
dry-run-output/
**/dry-run-output/
cmd/lambda/lambda

