# nyc test coverage
.nyc_output
coverage/

# Dependency directories
node_modules/

# Environment Variable Files
.env

.DS_Store

archive/*.json
archive/*.png

# Local Files used in processing
previousSchedule.json
bin/*

# Test output files
test-output/
**/test-output/
dry-run-output/
**/dry-run-output/
cmd/lambda/lambda

